<h1>Welcome to Bookmark Manager</h1>

<form method="get" action="/sign-up">
    <button type="submit">Sign up</button>
</form>

<form method="get" action="/log-in">
    <button type="submit">Log in</button>
</form>
