<h1>Log in</h1>

<%= flash[:notice] %>

<form action="/log-in" method="post">
  <label for="email">Email address:</label>
  <input type="text" name="email">
  <label for="password">Password:</label>
  <input type="text" name="password">
  <input type="submit" value="Log in">
</form>
